@font-face {
    font-family: "Aquarelle";
    src: url("../fonts/Aquarelle.ttf");
}
@font-face {
    font-family: "Calligraphia";
    src: url("../fonts/ofont.ru_Calligraphia Two.ttf");
}
@font-face {
    font-family: "GOST";
    src: url("../fonts/GOST type A Standard.ttf");
}
@font-face {
    font-family: "Scriptorama";
    src: url("../fonts/Scriptorama Regular.ttf");
}
@font-face {
  font-family: "Angelica";
  src: url("../fonts/Angelica Regular.ttf");
}
@font-face {
  font-family: "Ariadna";
  src: url("../fonts/Ariadna  Regular.ttf");
}
body{
  display: flex;
  background-image: url("../img/фон_пк.PNG") ;
  background-repeat: no-repeat;
  background-size: cover; 
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Здесь устанавливаем темный цвет с полупрозрачностью */
  z-index: 1; /* Поднимаем слой поверх фотографии */
}
.hello h1{
  font-family: "GOST";
  font-size: 3em;
  position: relative;
  color: #fff;
  z-index: 2;
  opacity: 1;
}
.qrinfo h1{
  font-family: "GOST";
  font-size: 3em;
  position: relative;
  color: #fff;
  z-index: 2;
}
.QR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98vh;
  
}
.qrimg{
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-size: contain; 
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  opacity: 1;
}

.bg {
  display: none;
}
.details{
  display: none;
}
.dress_code{
  display: none;
}
.wishes{
  display: none ;
}
.kiss{
  display: none;
}
.icons{
  display: none;
}
.button{
  display: none;
}
/* Медиа-запрос для мобильных устройств (iPhone, Android) */
@media only screen and (max-width: 767px) {
  body{
    display: block;
    background-color:#fff ;
    background-image: none;
  }
  body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .QR {
    display: none;
  }
  .bg {
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    background-size: cover;
    line-height: 100vh;
    background-image: url("../img/Листья1.jpeg");
  }
  .bg1 {
    width: 100%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    height: 60vh;
  }
  .names {
    font-family: "Aquarelle";
    color: #7b5ca2;
    text-align: center;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .names h1 {
    display: block;
    margin:-1% 0 -6%;
    font-size: 3em;
  }
  .date {
    margin-top: 3%;
    text-align: center;
    padding-right: 0%;
  }
  .date h2, h3, p{
    display: inline;
    color: #7b5ca2;
    font-size: 5em;
  }
  .date h2 {
    font-family: "Calligraphia";
    text-decoration-thickness: 2px;
    text-decoration-line: underline overline;
    text-underline-offset: 3%;
    text-underline-position: under;
    font-size: 2em;
  }
  .date h3 {
    font-family: "Aquarelle";
    font-size: 3em;
  }
  .date p {
    margin-left: 2%;
  }
  .invitation {
    padding-top: 5%;
    text-align: center; 
  }
  .invitation h2 {
    font-family: "Calligraphia";
    color: #7b5ca2;
    margin-top: 0%;
    margin-bottom: -2%;
    margin-left: 25vh;
    padding-right: 1vh;
    font-size: 2em;
  }
  .details{
    display: block;
  }
  .details h1 {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    font-family: "GOST";
    color: #7b5ca2;
    font-size: 1.2em;
    text-align: center;
  }
  .details h2 {
    margin-top: 5%;
    margin-bottom: 0%;
    font-family: "Scriptorama";
    font-size: 3em;
    text-align: center;
    color: #7b5ca2;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info h2{
    margin-top: 0%;
    margin-bottom: 10%;
    font-family: "Aquarelle";
    color: #7b5ca2;
    text-align: center;
    font-size: 2.5em;
  }
  .info h3{
    margin: 0%;
    font-family: "GOST";
    color: #7b5ca2;
    text-align: center;
    font-size: 1.5em;
  }
  .container {
    background-color: #f5d6ff;
    margin-bottom: 15%;
  }
  .event-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
  }
  .event {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .time {
    font-size: 1.5em;
    margin-right: 10%;
    font-family: "GOST";
  }
  .icon2 {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .event-description h1 {
    font-size: 1.5em;
    width: 30px;
    font-family: "GOST";
  }
  .dress_code{
    display: block;
  }
  .dress_code h1 {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 2em;
    font-family: "Scriptorama";
    color: #7b5ca2;
    text-align: center;
  }
  .dress_code h2 {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.2em;
    font-family: "GOST";
    color: #7b5ca2;
    text-align: center;
  }
  .dress_code h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0%;
    font-size: 1.2em;
    font-family: "GOST";
    color: #7b5ca2;
    text-align: center;
  }
  .color {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d7cbf3;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b19be5;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .circle3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #724eb5;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .circle4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a2cbf4;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .circle5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6288dd;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .circle6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #293894;
    margin: 0 10px; /* Расстояние между кружочками */
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-left: 3%;
  }
  .photos h1 {
    margin-left: 5%;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 2em;
    font-family: "Scriptorama";
    color: #7b5ca2;
    text-align: center;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
  .photo {
    width: 45%;
    height: 200px;
    margin-bottom: 5%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .photo:hover {
    transform: scale(1.1);
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .modal.show {
    display: flex;
    opacity: 1;
  }
  .modal img {
    max-width: 100%;
    max-height: 100%;
    animation: zoomIn 0.3s ease-in-out;
  }
  @keyframes zoomIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  .wishes {
    display: block;
    margin-top: 10%;
    background-color: #f5d6ff;
    padding-bottom: 5%;
  }
  .wishes h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    font-family: "Scriptorama";
    font-size: 2em;
    color: #7b5ca2;
  }
  .wishes h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: "GOST";
    font-size: 1.2em;
    color: #7b5ca2;
  }
  .kiss {
    display: block;
  }
  .kiss h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    font-family: "Scriptorama";
    font-size: 2em;
    color: #7b5ca2;
  }
  .kiss h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: "GOST";
    font-size: 1.2em;
    color: #7b5ca2;
  }
  .icons {
    margin: 0;
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 0 10px; 
  }
  .icon1 {
    width: 40px; 
    height: 30px;
    margin: 0 10px; 
  }
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;
    font-family: "Scriptorama";
    font-size: 2em;
    color: #7b5ca2;
  }
  .button h2 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: "GOST";
    font-size: 1.2em;
    color: #7b5ca2;
  }
  button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #b19be5;
    color: #fff;
    font-family: "GOST";
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #myIframe {
    display: none;
    width: 100%;
    height: 50vh; /* Задайте высоту iframe по вашему усмотрению */
  }
}
